body{
background-color: #1E293B; 
width: 100%;
height: 100vh; 
} 


section{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
  color: #F8FAFC; 
padding: 0;
  
}




.start-button:hover{
  background-color: #2563EB;
 
}
h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2px;
   color: #1E3A8A;
   

}
.descrip{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
}
.start-button{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 30px;
  background-color: #3B82F6;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: pulse 2s infinite;
  transition: transform 0.2s;
  
  
 

} 
@keyframes pulse{
0%{transform:scale(1); box-shadow: 0 0 10px #3B82F6, 0 0 20px #3B82F6;}
50% {transform:scale(1.1); box-shadow: 0 0 20px #3B82F6, 0 0 30px #3B82F6;}
100%{transform:scale(1);box-shadow: 0 0 10px #3B82F6, 0 0 20px #3B82F6; }
};


.conteneur-questions{
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #6b0020;
  
};
div{margin: 29px;}
.div-qns{
  
  
  background-color: rgb(38, 117, 91);
  border-radius: 10px;
    box-shadow: 0 0 20px #3B82F6;
  
    width: 70%;
    margin: 20px auto;
  
}
nav{width: 100%;}
.div-qns:hover,label:hover{
    letter-spacing: 3px;
  background-color:rgb(22, 75, 57) ;
  box-shadow:10 10 40px #3B82F6;

}
.div-qns:has(:checked){
 label{
color: rgb(255, 166, 0);
letter-spacing: 3px;

 } 

}
.reponse_btn{
    background-color: rgb(38, 117, 91);
   display: inline-block;
    border:none;
    padding: 0;
    width: 90%;
    margin: 0;
    border-radius: 8px;
    
}
label{
  width: 100%;
    font-size: 25px;
    padding: -20%;
    margin: 0;
  color:  #FFFFFF;
    display: inline-block;
  text-align: center;
  
}

input{
      background-color: rgb(38, 117, 91);
      display: inline-block;
      width: 10%;
      padding: 0;
      margin: 0%;
}

h3{
  color: #ffffff;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  
  
  display: inline-block;
}

.correct{
  
  background-color: #7e7dd3!important;
  color: #FFFFFF;
}
.incorrect{
    background-color: #b61515;
     color: #FFFFFF;;
}
.incorrect:hover{
  
    background-color: #b61515;
     color: #FFFFFF;;
}
.next{
  
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 30px;
  background-color: #3B82F6;
  border-radius: 8px;
  border: none;

  color: #F8FAFC;
  animation: pulse 2s infinite;
transition: transform 0.2s;
margin-top: 20px;

}

.next:hover{
  background-color: #2563EB;
}
.score_div{
 

color: #FFFFFF;
size: 18px;
text-align: center;
 width: 70px;
 height: 70px;
 margin: 0 auto;
 
border-radius: 100%;
border: deeppink solid 2px;
padding-bottom: 0%;


}
h4{
  
  

  padding: 30px;
  
}

span{
   
   color:#FFFFFF;
   font-style: 'poppins';
   font-size: 20px;
}
