 *{
padding: 0;
margin: 0;
color: #ccc;
box-sizing: border-box; 
font-family: Inter, Arial;
  
} 


header{

background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);
width: 100%;
justify-content: space-evenly;
box-shadow: 0px 1px 4px #000;
align-items: center;
top: 0;
position:fixed;
z-index: 11;
}

body{
z-index: 1;
      background-color: #0A0d1A;;
      width: 100%;
      height: 100dvh;
      flex-shrink: 0;
      overflow: hidden;
    
} 

.head{

    position: relative;
    display: flex;
    justify-content: space-around;
    pointer-events: auto;
    /* z-index: 777; */

}



.input_projet,.taches_input,select{
    position: relative;
     background: rgba(255,255,255,0.08);
    /* height: px; */
    border-radius: 8px;
    border: none;
    transition: 0.5s;
    padding: 7px;
    max-width: 40%;
    outline: none;
    &:focus{
        transform: scale(1.05);
         border: solid 2px white; 
    }
}
.input_projet{
    max-width: 50%;
}
.add_projet,.add_tache{
      background: linear-gradient(135deg, #6c5ce7, #00cec9);
      padding: 10px 15px;
      color: white;
      border: none;
      border-radius: 5px;
}
.add_projet{
    margin-left: 20px;
}
main{

   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
    height: 100%;
padding-top: 40px;
}
aside{
     border-right: 1px solid rgba(255,255,255,0.1);
     margin-right: 10px;
    overflow: hidden;
    height: 99dvh;
    
}
.taches_place{
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    overflow: hidden;
    

}
.adding_place{
padding-top: 5px;
height: 40px;
*{
    margin-left: 10px;
    display: inline-block;
}

}
.contenteur_tasks{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
    margin:10px 20px ;
    height:80% ;


}
.contenteur_tasks .task_boite{
  border-radius: 10px;
  box-shadow:  0 1px 4px rgba(7, 16, 198, 0.601);
  padding: 10px;
  overflow: hidden;
  background-color: #0A0d1A;
  margin-bottom: 10px;
}

.projet{
     background: rgba(255,255,255,0.08);
     border-radius: 10px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 8px ;
    font-size: 1.3rem;
    box-shadow:  0 1px 4px rgba(7, 16, 198, 0.601);
  
}


.current_projet{
          background-color: rgba(0, 0, 255, 0.028);
          p{color: blue ;}
   

    }
.delete_btn{
    width: 30px;
    height: 30px;
    color: rgba(255, 0, 0, 0.779);
    background-color: transparent;
    box-shadow: 0 1px 4px rgba(7, 16, 198, 0.601);;
    border-radius: 5px;
    border: none;
   
}
.menu{
    transform: scale(1.3);
    display: flex;
     width: 15px;
    height: 100%;
    text-align: center;
    padding:  7px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;

    
}
.div_menu{
    position: absolute;
    right: 18px;
    top: 0;
     
     transition: 5s;
     background-color: #ccc;
     background-color: transparent;
    border-radius: 10px;
     display: none;    transition:1s;
   background-color: #0A0d1A;;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(7, 16, 198, 0.601);;
    flex-direction: column;
    *{
top: 0;}
}

 .menu::before{
    content: '';
    background: red;
    position: absolute; 
    box-shadow: 0 20px 0px #ccc ;
      background: #ccc;
    width: 5px;
    border-radius: 100%;
    height: 5px;
    padding: 0;
    margin: 0;
    scale: 0.6;

}

 .menu::after{ 
    content: '';
    background: #ccc;
    width: 5px;
    padding: 0;
    margin: 0;
    height: 5px;
    border-radius: 100%;
    transform: translateY(10px);
     scale: 0.6;

} 

.deleteTask,.afaire,.encours,.termine{
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    color: #ccc;
    text-transform: uppercase;
    box-shadow:0 1px 4px rgba(7, 16, 198, 0.601);; ;
    border: none;
    border-radius: 5px;
    transform: scale(0.9);
    display: inline-block;
}

h2{
/* box-shadow: 0px 1px 4px #000; */
  background: linear-gradient(135deg, #6c5ce7b1, #00cecba6);
  padding: 4px;
  border-radius: 7px;
  text-transform: uppercase;

}
.show{
opacity: 1;
display: flex; 
}
.contenteneur_projets{
    height: 60%;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.task_item{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    overflow:scroll;
    height: 90%;
    background-color: #0A0d1A;;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 35px;
    &::-webkit-scrollbar{display: none;}
    .task{
    margin: 0;
    background: rgba(255,255,255,0.05);
    margin-top: 20px;
    padding: 10px;
     flex-shrink: 0;
    padding: 10px;
    margin: 8px ;
    font-size: 1.3rem;
    box-shadow:  0 1px 4px rgba(7, 16, 198, 0.601);
    border-radius: 10px
}
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transform: translateY(10px);

}
.hidden2{
    opacity: 0;
}
.show_task{
    transition: 1.5s;
    transform: translateY(0);
}

.drag-over{
      background: rgba(0, 206, 201, 0.15);
      transition: 0.2s;
}

.dragging {
  opacity: 0.5;
  transform: rotate(2deg);
      transition: 0.5s;

}


menu{
  
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: none;
    height: 35px;
}

.menu_item{
    box-shadow:0 1px 4px rgba(7, 16, 198, 0.601);
    padding: 3px 7px;
    margin: 10px;
    border-radius: 4px ;
}

.displayed_project{
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(7, 16, 198, 0.601);;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
    display: none;
}

.switch_projet{
    position: relative;
    border: solid 5px  ;
    padding: 2px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    pointer-events: auto;

}

@media screen and (max-width:850px) {
    aside{
        position: absolute;
        width: 70%;
        left: -500px;
        transition: 0.5s;
        z-index: 10;
        background-color: #0A0d1A;
         z-index: 20;
        transition: 1s;
        
    }
     .switch_projet{
        display: inline-block;
        background-color: crimson;
    
        pointer-events: auto;
    }
    .adding_place{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}
    .taches_place{
        grid-column-start: 1;
    }

    .task_boite{
       
            display: none;
    }
    .task_disp{
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    menu{
        display: flex;
                text-transform: capitalize;

    }
    .current_menu{
        background-color: rgba(0, 0, 255, 0.028);
        color: blue;
    }
    .show_aside{
        left: 0;
        transition: 0.5s;
    }
   
    .contenteneur_projets{
            height: 80%;
    }
    .displayed_project{
        display: inline-block;
           max-width: 35%;
           overflow: scroll;
           padding: 7px;
           &::-webkit-scrollbar{
            display: none;
           }

    }
    h3{font-size: 14px;}
    h2{font-size: 18px;}
    .taches_input{
     max-width: 35%;
    }
    .input_projet{
    max-width: 30%;
}

}

.task_modifying{
    height: 100%;
    color: #ccc;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 8px;
    margin: 0;
    padding: 8px;
    max-width: 90%;
     background: rgba(255,255,255,0.08);;
     border: none;
}