body{
    background-color: #1E293B; 
}

.title_boite,.para_boite{

    color: #fff;
  font-family:   Arial, Helvetica, sans-serif;
  text-align: center;
  

}
.title_boite{
  display: inline-block;
}
p{text-align: center;
}

.para_boite{
    font-size: 1.1rem;
}
h1{


    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #b61515;
}
.title_boite{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
}
.conteneur{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.boite{
    display: flex;
    width: 100%;
    height: 100vh;
    
    color: #000;
    justify-content: center;
    align-items: center;
    
}
.boite *{margin: 0;
padding: 10px;}
.button_boite{
    text-align: center;
}
.button_boite button{
    padding: 20px 40px;
    text-transform:uppercase ;
    letter-spacing: 1px;
    font-size: 1.1rem;
      background-color: #3B82F6;
   border: none;
   color: #fff;
   border-radius: 10px;
   animation: pulse 3s infinite;
}
@keyframes pulse{
0%{transform:scale(1); box-shadow: 0 0 10px #3B82F6, 0 0 20px #3B82F6;}
50% {transform:scale(1.2); box-shadow: 0 0 20px #3B82F6, 0 0 30px #3B82F6;}
100%{transform:scale(1);box-shadow:  0 0 10px #3B82F6, 0 0 20px #3B82F6;}}

.title-nav{
    text-align: center;
}
.hidden2{
    opacity: 0;
    transform: translateY(100px);
}

.rest_nav{
margin: 0;
padding: 0;
}

.underline2::after{


content: '';
display: inline-block;
position: absolute;
bottom: 0;
  height: 3px;
  left: 0;
animation:  pulse2_ 5s 0s;
     

background-color: #3B82F6;
}


@keyframes pulse4{
    0%{width: 0;}
100%{width: 100%;}
}


.underline::after{
content: '';
display: inline-block;
position: absolute;
bottom: 0;
right: 0;
width: 3px;
background-color: #3B82F6;

animation: pulse2 1s 2s ease;


} 

@keyframes pulse2 {

    0%{

        width: 3px;
        right: 0;
        height: 0px;
    }

      100%{
      
    
        width: 3px;
        height: 100%;}

    
}


@keyframes pulse2_ {
    0%{
    left: 0;
    width: 0;

    
    
    }
    5%{
        width: 100px;

    }

    100%{
        
        width: 0;
        left: 100%;
         
    }
}



.underline::before{
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top:0px;
    width: 0;
    height: 3px;
    background-color:  #3B82F6;;
   
    transition:  width 0.8s ease-in-out;
      animation: pulse3 2s 0s ease;
}

h4{
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: #3B82F6 solid 8px;
    border-radius: 100%;
    display: inline-block;
}
@keyframes pulse3 {
    0%{width: 0;
    right: 100%;}
    60%{

        width: 100%; 
        right: 0;

    }
    100%{
        right: 0;
        width: -100%;}
}

.hidden{
    opacity: 0;
    transform: translateY(-100px);
}


.show{
   transition: 3s;
    opacity: 1;
 
}


.question{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.boite_answers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    
}
.answer_btn{
    display: inline-block;
   
    padding: 0 0 0 0;
    margin: 0 0 0 0;
     margin-top: 20px;
    border: none;
    
    
  background-color: rgb(38, 117, 91);
  border-radius: 8px;
    box-shadow: 0 0 20px #3B82F6;
  
    line-height: 100%;

}
.answer_btn:hover{
    letter-spacing: 4px;
      background-color: rgba(38, 117, 91, 0.753);

}
input{

margin: 0;
padding: 0;
line-height: 100%;
text-align: end;


}
label{
    color: #fff;
    line-height: 100%;
    font-size: 25px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    ;
    max-width:  90%;
    min-width: 80%;

    height: 100%;
}
label,.answer_btn *{padding: 0;
padding: 0;}
h2{text-align: center;}
.under_boite{display: inline-block;
width: 90%;}

.corect{
    
  background-color: #7e7dd3!important;
  color: #FFFFFF;
}

.incorrect:hover{
    
    background-color: #b61515;
     color: #FFFFFF;;
}
    
.incorrect{
    background-color: #b61515;
     color: #FFFFFF;;
}

.next_btn{
        padding: 0px 10px;
    text-transform:uppercase ;
    letter-spacing: 2px;
    font-size: 40px;
      background-color: transparent;
   border: none;
   color: #fff;
   border: #FFFFFF solid 2px;
   border-radius: 10px;
   z-index: 400;
   transform: translateZ(-100px);
   
   animation: pulse 3s infinite;
}
.content_btns{
    display: flex;
    justify-content: space-evenly;
}